* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #F5F5DC; */
  /* color: white; */
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 600;
  color: white;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px) {
  body {
      font-size: 14px;
  }
}